.card{
  border:1px solid hsla(0, 0%, 80%);
  border-radius: 15px;
  text-align: center;
  box-shadow:5px 5px 5px hsla(0, 0%, 0%, 0.1) ;
  margin: 10px; 
  padding: 20px;
  display: inline-block;
  max-width: 300px;
}
.isLogged{
  font-size: 3rem;
  border: 1px solid rgb(148, 212, 148);
  border-radius: 20px;
  color: antiquewhite;
  background-color: hsl(114, 74%, 48%);
  padding: 15px;
  margin: 1px;

}
.notLogged{
  font-size: 3rem;
  border: 1px solid rgb(205, 57, 31);
  border-radius: 20px;
  background-color: hsl(0, 74%, 48%);
  padding: 15px;
  margin: 1px;

}
.border{
  border: 1px solid red;
  }
  .myButton{
    border-radius:5px !important ;
    border:1px solid #888 !important;
    text-transform:capitalize !important ;
    padding-top: 7px !important;
    padding-bottom:7px !important ;
    font-size: 16px !important;


  }